
<h2>Add a new challenge here!</h2>
<form id="create_challenge">
<label id="hostC">Hosting team:</label>
<input name="HomeTeamName" id="HomeTeamName" type="text" placeholder="Home Team name"/><br/>
<label id="numC"># of players needed:</label>
<input name="NumberOfPlayers" id="NumberOfPlayers" type="text" placeholder="Number of Players"/><br/>
<label id="locC">Location:</label>
<input name="Location" id="Location" type="text" placeholder="Location"/><br/>

<button type="submit" id="challengeSub" class="buttn">Create new Game </button>
</form>
<br>

<h1>Current Challenges</h1>

<ul id="challengeList">
{{#each challenges}}
<li> Team name: {{this.HomeTeamName}}, Number of Players:  {{this.NumberOfPlayers}}, Location: {{this.Location}}</li>
{{/each}}
</ul>