

<form id="create_challenge">
<input name="HomeTeamName" id="HomeTeamName" type="text" placeholder="Home Team name"/>
<input name="NumberOfPlayers" id="NumberOfPlayers" type="text" placeholder="Number of Players"/>
<input name="Location" id="Location" type="text" placeholder="Location"/>

<button type="submit">Create new Game </button>
</form>
<br>

<ul id="challengeList">
{{#each challenges}}
<li>{{this.HomeTeamName}}: {{this.NumberOfPlayers}}: {{this.Location}}</li>
{{/each}}
</ul>