

<form id="create_challenge">
<input name="HomeTeamName" id="HomeTeamName" type="text" placeholder="Home Team name"/>
<input name="NumberOfPlayers" id="NumberOfPlayers" type="text" placeholder="Number of Players"/>
<input name="Location" id="Location" type="text" placeholder="Location"/>

<button type="submit">Create new Game </button>
</form>
<br>

<h1>Current Challenges</h1>

<ul id="challengeList">
{{#each challenges}}
<li> Team name: {{this.HomeTeamName}}, Number of Players:  {{this.NumberOfPlayers}}, Location: {{this.Location}}</li>
{{/each}}
</ul>
<h1> You can also view games under Games Available List</h1>