<h1>Create a new Team</h1>
<article>
    <form method="POST" action="/api/create_team">
        
        <div class="input-field">
            <label id="teamC">TeamName:</label>
            <input type="text" name="TeamName" size="50" placeholder="TeamName...">
        </div>
        <div class="input-field">
            <label>TotalWins:</label>
            <input type="text" name="TotalWins" size="50" placeholder="TotalWins...">
        </div> 
        <button type="submit" class="buttn">Create new Team </button>
    </form>
</article>