<h1>Create a new game</h1>
<article>
    <form method="POST" action="/api/create_game">
        
        <div class="input-field">
            <label>HomeTeamName:</label>
            <input type="text" name="HomeTeamName" size="50" placeholder="Home Team Name...">
        </div>

        <div class="input-field">
            <label>AwayTeamName:</label>
            <input type="text" name="AwayTeamName" size="50" placeholder="Away Team Name...">
        </div>

        <div class="input-field">
            <label>Winner:</label>
            <input type="text" name="Winner" size="50" placeholder="Winner ">
        </div> 
        <button type="submit">Create New Game Summary </button>
    </form>
</article>