<h1>Accept a Game</h1>
<article>
    <form method="post" action="/api/delete_game?_method=DELETE">
        
        <div class="input-field">
            <label>TeamName:</label>
            <input type="text" name="TeamName" size="50" placeholder="TeamName...">
        </div>
       
        <button type="submit">Accept Game </button>
    </form>
</article>